body,html {
    height: 100%;
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Lucida Console", "Courier New", monospace;
}


.bg-image{
    background-image:url(./home.jpg);
    height: 100%;
    /* filter: blur(1px); */
    /* -webkit-filter: blur(1px); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-text{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 210px;
    left: 180px;
    text-align: center;
    /* transform: translate(-50%, -50%); */
    width: 70%;  
    font-size: 20px;
    
}
#navbar{
    /* background-color: black; */
    
    /* width: 100%; */
    display: block;
    float: right;
    overflow: hidden;

}
#navbar a{
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    position: sticky;
    top: 0px;
}
#navbar a:hover{
    background-color:white;
    color: black;
}

#navbar a:active{
    background-color: black;
    color: white;
}

.btn1{
    border: 1.5px solid silver;
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 28px;
    font-size: 14px;
    margin: -2px 10px;
    padding: 10px 27px;
    cursor: pointer;
}

.aboutme{
    
    display: flex;
    flex-direction: row;
    height: 700px;
    position: relative;
}

/* #abouthead{
    position: absolute;
    left: 550px;
    top: 20px;
    text-decoration: underline;
   

} */

.aboutdiv,.skilldiv,.contactdiv{
    /* background-image:url(./aboutme.jpg); */
    background-color: rgb(184, 77, 38);
    /* color: white; */
    height: 630px;
    position: relative;
    top: -15px;
    border: 2px solid black;
    

}

#aboutimg{
    height: 150px;
    width: 150px;
    position:absolute ;
    top: 100px;
    left: 100px;
}

#aboutimg:hover{
    transform: rotate(330deg);
    height: 200px;
    width: 200px;

}

.aboutpara{
    color: white;
    /* position: absolute;
    top: 250px;
    left: 300px; */
    font-size: 18px;
    line-height: 22px;
    
}

.aboutdiv2{
  /* border: 0px solid black; */
  padding: 10px;
  /* width: 200px; */
  height: 200px;
  text-align: justify;
  position: absolute;
  top: 220px;
  left: 400px;
    width: 620px;
}



#skillimg{
    width: 130px;
    position: absolute;
    top:40px ;
    left: 560px;

}

/* #skillimg:hover{
   transform: scale(1.05);
    transform: rotate(330deg);
   height: 180px;
   width: 180px;
} */ 

.circle{
    display: flex;
    flex-direction: row;
    height: 750px;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.circle1 {
    height: 115px;
    width: 115px;
    background-color: black;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 28px;

}

#p1{
    position: absolute;
    top: 330px;
    left: 157px;
}

#p2{
    position: absolute;
    top: 330px;
    left: 432px;
}

#p3{
    position: absolute;
    top: 330px;
    left: 710px;
}
#p4{
    position: absolute;
    top: 330px;
    left: 980px;
}

#p1:hover,#p2:hover,#p3:hover,#p4:hover{
    transform: scale(1.08);
}

#contactimg{
    width: 150px;
    position: absolute;
    top:70px ;
    left: 555px;
}


 #mail1{
    font-size: 20px;
    position: absolute;
    top: 330px;
    left: 230px;
    color: white;
 }


 #mailpara{
    font-size: 20px;
    position: absolute;
    top: 310px;
    left: 260px;
    color: white;
 }

 #mail2{
    font-size: 20px;
    position: absolute;
    top: 350px;
    left: 260px;
 }

 #phone1{
    font-size: 20px;
    position: absolute;
    top: 450px;
    left: 230px;
    color: white;
 }

 #phonepara{
    font-size: 20px;
    position: absolute;
    top: 432px;
    left: 260px;
    color: white;
 
 }

 #phone2{
    font-size: 20px;
    position: absolute;
    top: 470px;
    left: 260px;
 }

 #linkedin{
    font-size: 20px;
    position: absolute;
    top: 330px;
    left: 730px;
    color: white;
 }

 #linkedinpara{
    font-size: 20px;
    position: absolute;
    top: 312px;
    left: 757px;
    color: white;
 }

 #linkedin2{
    font-size: 20px;
    position: absolute;
    top: 350px;
    left: 757px;
 }

 #github1{
    font-size: 20px;
    position: absolute;
    top: 450px;
    left: 730px;
    color: white;
 }

 #githubpara{
    font-size: 20px;
    position: absolute;
    top: 432px;
    left: 757px;
    color: white;
 }

 #github2{
    font-size: 20px;
    position: absolute;
    top: 470px;
    left: 759px;
 }

 